
<router-outlet></router-outlet>

<ng-container *ngIf="(connState$ | async) as connState">
  <div>
    {{connState}}
  </div>
</ng-container>
<ng-container *ngIf="(settings$ | async) as settings">
  <div>
    {{settings | json}}
  </div>
</ng-container>

<ng-container *ngIf="(sensors$ | async) as sensors">
  <div *ngFor="let sensor of sensors | keyvalue">
    <!-- {{sensor.value | json}} -->
    <app-sensor-live [sensor]="sensor.value">
    </app-sensor-live>
    <hr>
  </div>
</ng-container>

<!-- <button type="button" (click)="stopConnecting()">Stop!</button> -->
