<h3>{{sensorName}}: {{sensorAddr}}</h3>
<h1>{{sensorData.last_reading.temperature}}°C | {{sensorData.last_reading.humidity}}%</h1>
<h2>{{sensorTempF}} °F</h2>
<!-- <google-chart *ngIf="temperatureGaugeData"
              [type]="'Gauge'"
              [data]="temperatureGaugeData"
              [options]="temperatureGaugeOptions"
              routerLink="sensor/{{sensorAddr}}/temp"
              >
</google-chart>
<google-chart *ngIf="humidityGaugeData"
              [type]="'Gauge'"
              [data]="humidityGaugeData"
              [options]="humidityGaugeOptions"
              routerLink="sensor/{{sensorAddr}}/humid"
              >
</google-chart> -->
<!-- <google-chart *ngIf="(historyData$ | async) as historyData"
              (click)="getHistory()"
              [type]="'Line'"

              >

</google-chart> -->
<div *ngIf="lastReading">
  Last reading: {{lastReading}}
</div>
<button type="button" (click)="getHistory()"> History </button>
<div *ngIf="(historyData$ | async) as historyData">
  {{historyData | json}}
</div>
